body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #222
}

.myName {
    Width: 80%;
    margin: 0 auto;
    
}

header {
    background-color:#1794a5;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 35px;
    font-weight: bold;
    
    /* For animation: makes bars stop at the end of the word*/
    position: relative; 
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color:black;
}

/* For animation:*/
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #000;
/* Makes bars only over words */
    position: absolute;
    top: 0;
    width: 0%; /*starting width*/
    margin-top: 10px;

    transition: all ease-in-out 250ms;
}

/* Sets with after transition */
nav a:hover::before {
    width: 100%;
}

.aboutMe {
    margin: 0px 50px 0 50px;
    color: #fff;
}

.sectionHeader {
    margin: 50px auto;
    font-size: 40px;
    font-weight: bold;
    color: white

}

.workHeader {
    margin: 50px 50px;
    font-size: 40px;
    font-weight: bold;
    color: white
}

.row {
    margin: 0 40px 0 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width:30%;
    border:5px solid #1794a5;
    border-radius:20px;
    margin-bottom:50px;
    transition:30ms;
}

.cardHeader {
    margin-left: 10px;
    padding:10px 10px;
    
    color:#fff;
}

.cardBody {
    padding: 10px 20px;
    color: #fff;
}

.cardBody .btn {
    display:block;
    color:#444;
    text-align:center;
    font-weight: bold;
    background:#1794a5;
    margin-top:30px;
    text-decoration: none;
    padding: 10px 5px;
    border:3px solid #fff;
    border-radius:5px;
}

.cardBody .btn:hover{
    color:#000;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px #fff;
}

/* Responsive media queries */

@media screen and (max-width:1000px) {
    .card{
        width: 40%;
    }
}
